.Calculator{
    text-align: center;
    padding: 10px;
    box-shadow: 0px 2px 10px ;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    margin: 100px auto;
    width:300px;
}



.input,.output{
    width: 95%;
    padding: 6px 10px ;
    border-radius: 4px;
    margin-bottom: 0px 0px 10px;
}

.btn1,.btn2,.btn3,.btn4{
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 2px;
    width: 40px;
    font-size: x-large;
    cursor: pointer;
}

.clear{
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    padding: 5px 10px;
}

.btn1:hover{
    background-color: #326f33;
}

.btn2:hover{
    background-color: #326f33;
}

.btn3:hover{
    background-color: #326f33;
}

.btn4:hover{
    background-color: #326f33;
}

.clear:hover{
     background-color: #326f33;
}